<div class="row first-row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 stats">
        <div class="row inner-bg">
            <div class="col-md-8 col-sm-8 text ">
                <p>Total Cases <span class="fa fa-caret-up fa-icon"></span></p> 
                <p>878,679</p>
                
            </div>
            <div class="col-md-4 col-sm-4">
                <span class="count">15.80K</span>
                <span class="case-graph-total">
                <img src="../../../../assets/images/statistics/Graph.svg"
                 alt="graph image"></span>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 stats">
        <div class="row inner-bg">
            <div class="col-md-8 col-sm-8 text ">
                <p>Recovered <span class="fa fa-caret-down fa-icon-recover"></span></p> 
                <p>147,358</p>
                
            </div>
            <div class="col-md-4 col-sm-4">
                <span class="case-graph">
                <img src="../../../../assets/images/statistics/Graph2.svg"
                 alt="graph image"></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 stats">
        <div class="row inner-bg">
            <div class="col-md-8 col-sm-8 text ">
                <p>Active Cases <span class="fa fa-caret-up fa-icon"></span></p> 
                <p>731,321</p>
                
            </div>
            <div class="col-md-4 col-sm-4">
                <span class="case-graph">
                <img src="../../../../assets/images/statistics/Graph3.svg"
                 alt="graph image"></span>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 stats">
        <div class="row inner-bg">
            <div class="col-md-8 col-sm-8 text ">
                <p>Total Death <span class="fa fa-caret-up fa-icon"></span></p> 
                <p>47,097</p>
                
            </div>
            <div class="col-md-4 col-sm-4">
                <span class="case-graph">
                <img src="../../../../assets/images/statistics/Graph4.svg"
                 alt="graph image"></span>
            </div>
        </div>
    </div>

</div>
