.stats{
   margin: 0px 0px;
   padding-right: 30px;
   padding-bottom: 10px;
   /* border: 1px solid black; */
}
.inner-bg{
    padding: 20px 6px 10px 10px;
    background-color: white;
    border-radius: 7px;
}
.count{
    background-image: url("../../../../assets/images/statistics/BG1.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width:100%;
    box-shadow: 1px 1px 4px grey;
    padding: 2px;
    font-size: 9px;
    color: red;
    font-weight: bolder;
}
.text p{
    font-size: 13px;
    font-weight: bolder;
    color: #52586a;
}
.down{
    position: relative;
}
.down::after{
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #00ddaf;
    font-size: 18px;
    /* padding-right: 0.5em; */
    /* position: absolute; */
    top: 10px;
    left: 0;
}


.fa-icon{
    top: 10px;
    left: 0;
}
.text p:last-child{
    font-size: 22px;
    font-weight: bolder;
    color: #333333;
}

.img_graph_total{
    margin-left: -25px;
    margin-top: -10px;
}
.img_graph{
    margin-left: -25px;
    /* margin-top: 20px; */
}


@media only screen and (max-width: 768px) {
    .stats{
        /* margin: 0px 0px; */
        padding-right: 30px;
        padding-bottom: 10px;
        text-align: center
     }
     .inner-bg{
         max-height: 150px;
         background-color: white;
         border-radius: 7px;
         padding-bottom: 10px;
     }
     .count{
         position: relative;
         top: -20px;
         left: 35px;
     }
     .case-graph-total img{
         margin-left: 0px;
         margin-top: 0px;
     }
     .case-graph img{
         margin-left: 0px;
     }
     
}

@media only screen and (min-width: 789px) and (max-width: 1000px ) {
    .stats{
        margin: 0px 0px;
        padding-right: 30px;
        padding-bottom: 10px;
        /* border: 1px solid black; */
     }
     .inner-bg{
         padding: 20px 6px 10px 10px;
         background-color: white;
         border-radius: 7px;
     }
     .case-graph-total img{
         margin-left: 0px;
         margin-top: -10px;
     }
     .case-graph img{
         margin-left: 0px;
     }
     
     
     
}