<div class="row ">
    <div class="col-md-9 right-side">
        <app-stats [fetchStats] = stats ></app-stats>
        <app-country-and-map [countriesData] = countriesData [isMapRendered] = isMapRendered></app-country-and-map>
        <app-spread-and-updates [spreadTrendData] = spreadTrendData [articles] = articles></app-spread-and-updates>
    </div>
    <div class="col-md-3 left-side">
        <app-recovery-and-tweets [recoveredData] = recoveredData></app-recovery-and-tweets>
    </div>
</div>
<ngx-spinner 
    bdColor = "rgba(51, 51, 51, 0.8)"
    size = "large"
    color = "white"
    type="ball-clip-rotate-multiple"
    [fullScreen] = "true">  
    <p class="spinner">Loading... </p>  
</ngx-spinner>  