<div class="row">
    <form>
        <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" placeholder="Search Location..." />
        </div>
    </form>
</div>
<div class="country-box">
    <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-10">
            <img src="../../../../assets/images/country/unitedStaesFlag.jpg" 
            class="img-responsive flag-img" alt="unitedFlag">
            <p>United States</p>
            <p>158.5K Affected | 47.8K Recovered</p>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
            <i class="fa fa-caret-up fa-caret-icon"></i>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-10">
            <img src="../../../../assets/images/country/unitedStaesFlag.jpg" 
            class="img-responsive flag-img" alt="unitedFlag">
            <p>United States</p>
            <p>158.5K Affected | 47.8K Recovered</p>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
            <i class="fa fa-caret-up fa-caret-icon"></i>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-10">
            <img src="../../../../assets/images/country/unitedStaesFlag.jpg" 
            class="img-responsive flag-img" alt="unitedFlag">
            <p>United States</p>
            <p>158.5K Affected | 47.8K Recovered</p>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
            <i class="fa fa-caret-up fa-caret-icon"></i>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-10">
            <img src="../../../../assets/images/country/unitedStaesFlag.jpg" 
            class="img-responsive flag-img" alt="unitedFlag">
            <p>United States</p>
            <p>158.5K Affected | 47.8K Recovered</p>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
            <i class="fa fa-caret-up fa-caret-icon"></i>
        </div>
    </div>
</div>
