
.inner-row{
    background-color: white;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.tweets{
    height: 490px;
    text-align: left;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
