<div class="row">
    <div class="col-md-5 col-sm-5 col-xs-5">
        <p>Spread Trends</p>
    </div>
    <div class="col-md-7 col-sm-7 col-xs-7">
        <ul class="nav nav-pills">
            <li 
            *ngFor = "let pills of navpills; let i = index"
            (click) = "selectChart(pills, i)" 
            [ngClass]="activeIndex == i ? 'active' : 'none'">{{ pills }}</li>
        </ul>
    </div>
</div>
<div class="row chart-row" *ngIf="isRenderDefault()">
    <div class="text-span">
      <span>{{ activeChartLegendData[0] }}<br></span>
      <span>{{ activeChartLegendData[1] }}<br></span>
      <span>{{ activeChartLegendData[2] | thousandSufix }}<br></span>
    </div>
    <div class="chart" [chart]="chart"></div>

</div>
