     <nav class="navbar navbar-default">
            <div class="container">
                <div class="col-md-4">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>                        
                        </button>
                        <a class="navbar-brand" href="#">
                           <div class="row">
                               <span><img src="assets/images/header/virus.svg"
                                class="img-responsive" alt="logo"> COVID'19</span>
                           </div> 
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                          <li><a href="#" class="active" >HOME</a></li>
                          <li><a href="#">fAQ</a></li>
                          <li><a href="#">HELPFUL LINKS</a></li>
                        </ul>
                       </div>
                </div>
            </div>
          </nav>
    