 <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators" >
      <li  *ngFor="let article of articles | slice:0:3; let i = index"
       data-target="#myCarousel" data-slide-to="i" [ngClass] = "getIndex(i)"></li>
    </ol>

    <!-- Wrapper for slides -->
   <div class="carousel-inner">
    <div class="item" *ngFor="let article of articles | slice:0:3; let i = index"
      [ngClass] = "getIndex(i)">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <img src="{{ article.urlToImage }}"
                class="img-responsive" alt="image">
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <span class="btn btn-update text-overflow">{{ article.title  }}...</span>
                <p>{{ article.description | slice:0:120 }}...</p>
                <a href='{{ article.url}}' target="_blank">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
      </div>
    </div>
  </div>
