<p>Latest Tweets &nbsp;<i class="fa fa-twitter fa-icon-tweet" aria-hidden="true"></i></p>
<div class="row">
    <div class="img-row">
        <img src="../../../../assets/images/tweets/who.png" 
        class="img-responsive tweet-img" alt="tweet image">
        <p>World Health Oraganization</p>
        <p>@WHO</p>
    </div>
    <div class="text-row">
        <p>We are the #UnitedNation. We are committed 
            to achieving bettter health for everyone, everywhere- #HealthForAlll</p>
    </div>
    <div class="links-row">
        <div class="col-md-8 col-sm-8 col-xs-8 col-like">
            <span class="like"><i class="fa fa-heart-o"></i> 4.6k</span>
            <span class="share"><i class="fa fa-share-alt"></i>&nbsp; 247</span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 col-date">
            <span class="date">27 March</span>
        </div>
    </div>
</div>
<hr>
