.second-row{
    margin-top: 15px;
}
.col-md-5{
    padding: 0px 30px 0px 0px;
}
.inner-row-col5{
    background-color: white;
    border-radius: 5px;
    padding: 15px 30px;
    min-height: 388px;
}
.col-md-7{
    padding: 0px 30px 0px 0px;
}
.inner-row-col-7{
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    height: 388px;
}

@media only screen and (max-width: 1000px) {
    .col-md-5{
        padding: 0px 15px 0px 0px;
    }
    .inner-row-col5{
        margin-bottom: 10px
    }
    .col-md-7{
        padding: 0px 30px 0px 0px;
    }
    .inner-row-col-7{
        margin-left: 1px;
    }
    
}