<div class="row first-row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 stats"
    *ngFor = "let fetchData of fetchStats">
        <div class="row inner-bg">
            <div class="col-md-8 col-sm-8 text">
                <p [ngClass] ="{ up: !fetchData.cases, down: fetchData.cases }">{{ fetchData.title }} </p> 
                <p>{{ fetchData.count | number }}</p>
                
            </div>
            <div class="col-md-4 col-sm-4">
                <span class="fa-icon" *ngIf = "fetchData.title == 'Total Cases'" class="count">15.80K</span>
                <span class="case-graph-total">
                <img src="{{ fetchData.src }}"
                 alt="graph image"
                 [ngClass] = "{img_graph_total: fetchData.title == 'Total Cases', img_graph: fetchData.title != 'Total Cases' }"></span>
            </div>
        </div>
    </div>
</div>
